<mat-tab-group (selectedTabChange)="tabChanged($event)">
  <mat-tab label="Input">
    <label>Currency</label><input type="text" [(ngModel)]="currency"><br>
    <label>Name</label><input type="text" [(ngModel)]="name"><br>
    Body:<br>
    &lbrace;<br>
      currency: {{currency}}<br>
      name: {{name}}<br>
      &rbrace;<br>
      <button mat-flat-button (click)="onSend()">send</button>

      <div *ngIf="value | async as rate; else noData">
        rate: {{rate|json}}
      </div>
      <ng-template #noData>No data fetched yet</ng-template>

  </mat-tab>
  <mat-tab label="Database records">
    @for (item of data|async; track $index) {
      <mat-card>
        <mat-card-header>{{$index}}.</mat-card-header>
        <mat-card-content>
          {{item|json}}
        </mat-card-content>
      </mat-card>
    }
  </mat-tab>
</mat-tab-group>
